*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
body{font-family: arial;}
header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(images/home_bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navv{
    display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   width: 100%;
}
.logo{
    width: 100px;
    margin-left: 100px;
}
nav ul{display: flex;
        margin-right: 100px;
}
nav ul li a{
    padding: 15px 20px;
    font-weight: 600px;

}
nav ul li a:hover{
    color:orangered;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.content h1{
    font-size: 40px;
    color: #fff;
   margin-top: 70px;
}
span{color: yellow;}
.content p{
    color: #fff;
    margin: 20px 0 40px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border:solid 2px #fff;
    border-radius: 15px;
}
.btn:hover{
    background-color:orange ;
}

.thefoodlovers {
    font-family: arial;
     height:80%; 
    background: #fff6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    }
     .title {
    text-align: center;
    margin-bottom: 4rem;
    
    }
     h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #383848;
    margin-top: 50px;
    }
    .title p {
    font-weight: 600;
    font-size: 14px;
    color: #777676;
    
    }
 .about-content {
    display: flex;
    justify-content: space-between;
    }
     .about-content p {
    margin-right: 7rem;
    line-height: 1.6;
    color: #5f5c5c;
    font-weight: 500;
    margin-left: 5rem;
    margin-bottom: 30px;
    }
    img {
    max-width: 400px;
    margin-right: 2rem;
     transition: 1s;
    }
   
    
      img:hover{
    transform: scale(0.7);}
                                                                    
   
    
   .about-content a{
    border: solid 2px rgb(67, 66, 66);
    background-color: #383848;
    padding: 10px;
    border-radius: 6px;
    margin: 50px 80px;
    
   }
   .about-content a:hover{
    background-color: white;
    color: #383848;
   }
  
   #offers {
     height: 100vh; 
    padding: 5rem 0;
    background: url("./images/offer-background.jpg") center center/cover
    fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    }
    #about .title,
    #offers .title
    #menu .p {
    text-align: center;
    margin-bottom: 4rem;
    font-family: arial;
 
    }
    
    
    
    
    #offers h2
    #menu h2 {
        
    font-size: 40px;
    margin-bottom: 20px;
    
    }
    #offers h2 {
    color: #e4b95b; }
    #offers .title p {
    color: #fff;
    font-weight: 500;
    
    
    }
    #offers .offers-items {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    text-align: center;
    font-family: Arial;
    }
    #offers .offers-items img {
    
    width: 200px;
     animation: rotation 2s infinite linear;

 }
 @keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 }
    #offers .offers-items h3 {
    
    font-size: 25px;
    color: #fff;
    margin: 15px 0; }
    #offers .offer-items p {
    
    color: #fff;
    font-size: 10px;
    padding: 0 20px;
    font-weight: 250;
    margin-bottom: 20px;
    
    }
    #offers .offers-items span {
    
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
   
    
    }
    
    
    #menu {
        background: #f4f2ed;
        padding: 5rem 0;
    }
    #menu .title h2{
       font-size: 40px;
        margin-bottom: 15px;
        text-align: center;
        font-family: arial;
    }
     #menu .menu-items{
        display: flex;
        justify-content: center;
        align-items: center;

     }
     #menu .menu-items .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        font-size: 13px;

     }
     #menu .menu-items .menu-item h3{
   
    color: #383848;
    border-bottom: 1px white;
    padding-bottom: 10px;
   
   
   }
   #menu .menu-items .menu-item span{
    color:#e4b95b;
   
    
   }


     #menu .menu-items .menu-item img{
       
        width: 80px;
        border-radius: 50%;
        margin-right: 20px;
     }
     #menu .bn{ display: block;
        color: #fff;
        background-color: orange;
        margin: auto;
        margin-top: 20px;
        cursor: pointer;
        border: solid 1px orange;
        padding: 15px 30px;
        border-radius: 20px ;
     }
     #menu .bn:hover{
        background-color: white;
        color: orange;
        cursor: pointer;

     }



     #daytime { 
        background: url("images/daytime_bg.jpeg") center center/cover
        fixed no-repeat;
        color: #fff;
        text-align: center;
        font-family: Arial;
        }
        #daytime .daytime-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40vh;
        }
        #daytime .daytime-items h3 {
        font-size: 32px;
        margin: 20px 0 10px;
        }
        #daytime .daytime-items p {
        font-weight: 500;}

        #gallery {
            background: url("./images/offer-background.jpg") center center/cover;
            padding: 8rem 0 6rem;
            }
            #gallery h2 {
            font-size: 40px;
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
            }
            #gallery .img-gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            }
            #gallery .img-gallery img {
            margin: 20px;
            width: 280px;
            height: 200px;
            border-radius: 15px;
            transition:0.5s ;
            
            }
            #gallery .img-gallery img:hover {
                transform: scale(0.9);
            }

        
    
            #contact {
                background: #f4f2ed;
                padding: 5rem 0;
                }
                #contact .container {
                max-width: 900px;
                }
                #contact .contact-content {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                }
                #contact .contact-info {
                width: 50%;
                }
                form {
                width: 50%;
                }
                
                #contact .contact-info div {
                    margin: 30px 0;
                    line-height: 1.7;
                    }
                    #contact .contact-info h3 {
                    font-size: 28px;
                    color: #383848;
                    margin-bottom: 10px;
                    }
                    #contact .contact-info p {
                    color: #9a9a9a;
                    }
                    #contact .contact-info p i {
                    color: #e4b95b;
                    margin-right: 5px;
                    }
                    #contact .contact-info a i {
                    color: #fff;
                    background: #383848;
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 50%;
                    }
                    #contact .contact-info a i:hover {
                    background-color: #e4b95b;
                    color: #383848;}




                    form input,
                                 textarea {
                                 display: block;
                                 width: 100%;
                                 padding: 20px 15px;
                                 margin: 20px 0;
                                 border: none;
                              background-color: #e3e2dd;
                                                           }
                                form input:focus,
                                    textarea:focus {
                                 outline: none;
                                              }
                                        form button {
                                        color: white; 
                                    background-color:orange;}                                
                                   
                                    #footer {
                                        background-color: #383848;
                                        text-align: center;
                                        color: #fff;
                                        padding: 15px 0;
                                        font-size: 14px;
                                        }








                                        /* Medium Screen + Tablet */
@media (max-width: 1000px) {
    #navbar img {
    margin-left: 20px;
    }
    nav ul {
    margin-right: 20px;
    
    
    }
    nav ul li a {
    padding: 10px;
    }
    header .content h1 {
    font-size: 28px;
    }
    #about {
    height: auto;
    padding: 4rem 2rem;
    }
    #about .about-content p {
    margin-right: 2rem;
    }
    #about img {
    width: 250px;
    }
    #offers .offers-items img {
    width: 150px;
    }
    #offers .offers-items h3 {
    font-size: 18px;
    }
    #menu .menu-items {
    display: block;
    }
    #contact .contact-content {
    flex-direction: column;
    }
    }
                    

           
    /* Mobile Devices */
@media (max-width: 600px) {
    #navbar {
    flex-direction: column;
    }
    #navbar img {
    
    
    
    margin-bottom: 20px;
    
    }
    header .content h1 {
    font-size: 18px;
    }
    header .content p {
    font-size: 14px;
    }
    #about .about-content {
    
    flex-direction: column;
    }
    #about .about-content a {
    margin: 2rem 0;
    }
    #about img {
    display: none;
    }
    #offers {
    height: auto;
    padding: 30px 10px;
    }
    #offers .offer-items {
    
    flex-direction: column;
    }
    #menu .menu-items .menu-item {
    
    margin: 20px 10px;
    }
    #daytime .daytime-items {
    
    display: block;
    height: auto;
    padding: 30px 0;
    }
    #daytime .daytime-items .daytime-item {
    margin-top: 20px;
    }
    #contact .contact-info,
    form {
    width: 80%;

    }
    }